# Ansible managed

<VirtualHost *:80>
    ServerAdmin webmaster@localhost.localdomain
    ServerName {{ inventory_hostname }}
    ErrorLog logs/{{ inventory_hostname }}-error.log
    CustomLog logs/{{ inventory_hostname }}-common.log common
    DocumentRoot /var/www/vhosts/{{ inventory_hostname }}/

    <Directory /var/www/vhosts/{{ inventory_hostname }}/>
        Options +Indexes +FollowSymlinks +Includes
        Require all granted
    </Directory>
</VirtualHost>

