---
- name: Instalar paquetes necesarios para Docker
  become: true
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - python3-pip
      - python3-dev
    state: present
    update_cache: true

- name: Crear directorio para keyrings
  become: true
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Descargar clave GPG de Docker
  become: true
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Añadir repositorio oficial Docker
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    filename: docker

- name: Instalar Docker y dependencias
  become: true
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    update_cache: true

- name: Habilitar y arrancar servicio Docker
  become: true
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true

- name: Añadir usuario al grupo docker
  become: true
  ansible.builtin.user:
    name: ubuntu
    groups: docker
    append: true
