---
- name: Instalar librerías Python para Docker Ansible
  become: true
  ansible.builtin.pip:
    name:
      - "docker<7.0.0"
      - "requests<2.32.0"
    state: present

- name: Esperar a que Docker socket esté disponible
  become: true
  ansible.builtin.wait_for:
    path: /var/run/docker.sock
    state: present
    timeout: 30

- name: Crear carpeta base de la app
  become: true
  ansible.builtin.file:
    path: "{{ app_base_dir }}"
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'

- name: Clonar/actualizar repositorio
  ansible.builtin.git:
    repo: "{{ app_repo_url }}"
    dest: "{{ app_base_dir }}/repo"
    version: "{{ app_repo_version }}"
    update: true

- name: Limpiar directorio de build
  become: true
  ansible.builtin.file:
    path: "{{ app_base_dir }}/app"
    state: absent

- name: Copiar código al directorio de build
  become: true
  ansible.builtin.copy:
    src: "{{ app_base_dir }}/repo/{{ app_repo_subdir }}/"
    dest: "{{ app_base_dir }}/app/"
    remote_src: true
    owner: ubuntu
    group: ubuntu
    directory_mode: yes

- name: Construir imagen Docker
  community.docker.docker_image:
    name: "{{ app_image_name }}"
    build:
      path: "{{ app_base_dir }}/app"
    state: present
    force_source: true

- name: Asegurar contenedor ejecutándose
  community.docker.docker_container:
    name: "{{ app_container_name }}"
    image: "{{ app_image_name }}"
    state: started
    recreate: true
    restart_policy: unless-stopped
    published_ports:
      - "80:{{ app_container_port }}"
    env:
      PR_ID: "{{ app_repo_version }}"
      GIT_SHA: "{{ app_repo_version }}"
