name: Infraestructura CI/CD

on:
  workflow_dispatch:
  # Esto sería así en una situación real:
  #push:
  #  branches:
  #    - main
  #pull_request:
  #  branches:
  #    - main

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TERRAFORM_DIR: ./Practica-GitOps/Dev-Workspace/terraform-dev
      RDS_PASSWORD: ${{ secrets.RDS_PASSWORD }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Terraform init
        run: terraform -chdir=${{ env.TERRAFORM_DIR }} init

      - name: Terraform validate
        run: terraform -chdir=${{ env.TERRAFORM_DIR }} validate
        
      - name: Terraform plan
        run: terraform -chdir=${{ env.TERRAFORM_DIR }} plan -var="rds_password=${RDS_PASSWORD}"

      - name: Terraform apply
        run: terraform -chdir=${{ env.TERRAFORM_DIR }} apply -auto-approve -var="rds_password=${RDS_PASSWORD}"

  ansible:
    needs: terraform
    runs-on: ubuntu-latest
    env:
      ANSIBLE_DIR: ./Practica-GitOps/Dev-Workspace/ansible-dev
      INVENTORY: d-inventory/aws_ec2.yml
      PLAYBOOK: site.yml
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install necessary packages
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip3 install --upgrade ansible ansible-lint boto3 botocore

      - name: Lint Ansible playbooks
        run: |
          cd ${{ env.ANSIBLE_DIR }}
          ansible-lint .

      - name: Run Ansible playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: |
          cd ${{ env.ANSIBLE_DIR }}
          echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem
          export AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          export AWS_REGION=${{ secrets.AWS_REGION }}
          ansible-playbook -i ${{ env.INVENTORY }} -u ubuntu --private-key key.pem ${{ env.PLAYBOOK }}

      - name: Clean up private key
        run: rm -f ${{ env.ANSIBLE_DIR }}/key.pem

