name: Destroy Infrastructure

on:
  workflow_dispatch:

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TERRAFORM_DIR: ./Practica-GitOps/Dev-Workspace/terraform-dev

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Terraform init
        run: terraform -chdir=${{ env.TERRAFORM_DIR }} init

      - name: Terraform destroy
        run: terraform -chdir=${{ env.TERRAFORM_DIR }} destroy -auto-approve
